<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>DS-Finance</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="display: flex; flex: 1; justify-content: center; margin-top: 10%;">
  <mat-card style="width: 50%; height: auto; display: block;">
    
    <mat-card-title>Login</mat-card-title>
    
    <mat-card-content style="margin-top: 30px;">

      <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
        
        <mat-form-field style="width: 100%; display: block;">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Email" name="email">
        </mat-form-field>
        
        <mat-form-field style="width: 100%; display: block;">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Password" name="password">
        </mat-form-field>
        
        
        <button mat-raised-button [disabled]="loading"  color='primary' style="margin: 10px 0px;">
          <mat-spinner *ngIf="loading" color="primary" [diameter]="20" style=" float:left; margin-top: 8px; margin-right: 10px;"></mat-spinner>
          LOGIN
        </button >          

      </form>

    </mat-card-content>
  </mat-card>
</div>