<div style="width: 100%; height: 100%; position: relative;">
    <div style="margin: 10px; width: auto;">

        <div style="display: flex; flex: 1; justify-content: center;">
            <mat-card style="width: 100%; height: auto;">
                <mat-card-title>FILTER</mat-card-title>

                <mat-card-content style="margin-top: 10px;">

                    <form class="form-fields" [formGroup]="filterForm" style="display: flex; justify-content: space-between;"
                        (ngSubmit)="onApplyFilter()">

                        <mat-form-field class="formField">
                            <mat-label>VENDOR NAME</mat-label>
                            <input matInput formControlName="vendor_name" type="text" placeholder="VENDOR NAME"
                                name="vendor_name">
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>WAREHOUSE</mat-label>
                            <!-- <input matInput formControlName="warehouse" type="text" placeholder="WAREHOUSE" name="warehouse"> -->
                            <mat-select formControlName="warehouse">
                                <mat-option >NONE</mat-option>
                                <mat-option *ngFor="let wareHouse of wareHouses" [value]="wareHouse.warehouse_id" >{{wareHouse.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>GRN ID</mat-label>
                            <input matInput formControlName="grn_id" type="text" placeholder="GRN ID" name="grn_id">
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>PO ID</mat-label>
                            <input matInput formControlName="po_id" type="text" placeholder="PO ID" name="po_id">
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>START DATE</mat-label>
                            <input matInput [matDatepicker]="start_date_picker" formControlName="start_date" placeholder="START DATE">
                            <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #start_date_picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>END DATE</mat-label>
                            <input matInput [matDatepicker]="end_date_picker" formControlName="end_date" placeholder="END DATE">
                            <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #end_date_picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>VER. STATUS</mat-label>
                            <mat-select formControlName="verified_status">
                                <mat-option>None</mat-option>
                                <mat-option value="1">Verified</mat-option>
                                <mat-option value="0">Un-Verified</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button [disabled]="loading" color='primary' style="margin: 10px 0px;">
                            <!-- <mat-spinner *ngIf="loading" color="primary" [diameter]="20"
                                style=" float:left; margin-top: 8px; margin-right: 10px;"></mat-spinner> -->
                            FILTER
                        </button>

                    </form>

                </mat-card-content>
            </mat-card>
        </div>

        <table mat-table class="mat-elevation-z8" [dataSource]="grn">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="grn_id">
                <th mat-header-cell *matHeaderCellDef> GRN ID </th>
                <td mat-cell *matCellDef="let element"> {{element.grn_id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> VENDOR NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="warehouse">
                <th mat-header-cell *matHeaderCellDef> WAREHOUSE </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
            </ng-container>

            <ng-container matColumnDef="po_id">
                <th mat-header-cell *matHeaderCellDef> PO ID </th>
                <td mat-cell *matCellDef="let element"> {{element.po_id}} </td>
            </ng-container>

            <ng-container matColumnDef="order_id">
                <th mat-header-cell *matHeaderCellDef> ORDER ID </th>
                <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
            </ng-container>

            <ng-container matColumnDef="sku_count">
                <th mat-header-cell *matHeaderCellDef> SKU COUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.sku_count}} </td>
            </ng-container>

            <ng-container matColumnDef="grnAmount">
                <th mat-header-cell *matHeaderCellDef> GRN AMOUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.grnAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="verified_status">
                <th mat-header-cell *matHeaderCellDef> VERIFICATION STATUS </th>
                <td mat-cell *matCellDef="let element"> {{element.verified_status}} </td>
            </ng-container>

            <ng-container matColumnDef="grn_created_date">
                <th mat-header-cell *matHeaderCellDef> DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.grn_created_date}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> ACTION </th>
                <td mat-cell *matCellDef="let element; index as i">
                    <button mat-raised-button color='primary' (click)="onClickAction(i)">
                        {{element.verified_status == "UnVerified" ? "Verify" : "Un-Verify"}}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="view_detail">
                <th mat-header-cell *matHeaderCellDef> VIEW DETAIL </th>
                <td mat-cell *matCellDef="let element; index as i">
                    <button mat-raised-button color='gray' (click)="viewDetail(i)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="download_invoice">
                <th mat-header-cell *matHeaderCellDef> DOWNLOAD INVOICE </th>
                <td mat-cell *matCellDef="let element; index as i">
                    <button *ngIf="element.invoice_name" mat-raised-button color='gray' (click)="downloadInvoice(i)">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[10]">
        </mat-paginator>

    </div>


    <mat-spinner *ngIf="loading" color="primary" [diameter]="70"
        style="height: 100%; margin-left: 50%; margin-right: 50%; position: absolute; top: 40%; left: 0%;">
    </mat-spinner>

</div>
