<h1 mat-dialog-title>{{"GRN SKU"}}</h1>

<mat-dialog-content>

    <table mat-table class="mat-elevation-z8" [dataSource]="skus">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef> SKU ID </th>
            <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
        </ng-container>

        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef> PRODUCT NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>

        <ng-container matColumnDef="buying_price">
            <th mat-header-cell *matHeaderCellDef> BUYING PRICE </th>
            <td mat-cell *matCellDef="let element"> {{element.buying_price}} </td>
        </ng-container>

        <ng-container matColumnDef="actual_mrp">
            <th mat-header-cell *matHeaderCellDef> ACTUAL MRP </th>
            <td mat-cell *matCellDef="let element"> {{element.actual_mrp}} </td>
        </ng-container>

        <ng-container matColumnDef="invoice_qty">
            <th mat-header-cell *matHeaderCellDef> INVOICE QTY </th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_qty}} </td>
        </ng-container>

        <ng-container matColumnDef="discrepancy_qty">
            <th mat-header-cell *matHeaderCellDef> DISCREPANCY QTY </th>
            <td mat-cell *matCellDef="let element"> {{element.discrepancy_qty}} </td>
        </ng-container>

              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>