<!-- <p>home works!</p> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>DS-Finance</h1>
      <span class="menu-spacer"></span>
    </mat-toolbar-row>  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">DS DS-Finance helps to easily manage your finance</span>
      </mat-toolbar-row> -->
  </mat-toolbar>

  <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'grn'"> GRN </a>
      <a mat-list-item [routerLink]="'warehouse_transaction'"> WAREHOUSE TRANSACTIONS </a>
      <a mat-list-item [routerLink]="'warehouse_transaction_summery'"> TRANSACTIONS SUMMERY </a>
      <a mat-list-item [routerLink]="'order_status_reports'"> ORDER STATUS REPORTS </a>
      
      <!-- <mat-list-item [matMenuTriggerFor]="reportMenu">
        <a matline>REPORTS</a>
        <mat-icon>unfold_more</mat-icon>
      </mat-list-item> -->

      <!-- <mat-menu #reportMenu="matMenu" style="width: 100%;">
        <button mat-menu-item [routerLink]="'order_status_reports'" >ORDER STATUS REPORTS</button>
        <button mat-menu-item [routerLink]="'warehouse_reports'" >WAREHOUSE REPORTS</button>
        <button mat-menu-item [routerLink]="'state_reports'" >STATE REPORTS</button>
        <button mat-menu-item [routerLink]="'city_reports'" >CITY REPORTS</button>
      </mat-menu> -->

      <a mat-list-item (click)="logout()"> LOGOUT </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>

