<h1 mat-dialog-title>{{data.verified_status == "UnVerified" ? "Verify GRN" : "Un-Verify GRN"}}</h1>

<mat-dialog-content>
  {{data.grn_id}}
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="action()">{{data.verified_status == "UnVerified" ? "Verify" : "Un-Verify"}}</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>