<div style="width: 100%; height: 100%; position: relative;">
    <div style="margin: 10px; width: auto;">

        <div style="display: flex; flex: 1; justify-content: center;">
            <mat-card style="width: 100%; height: auto;">
                <mat-card-title>FILTER</mat-card-title>

                <mat-card-content style="margin-top: 10px;">

                    <form class="form-fields" [formGroup]="filterForm" style="display: flex; justify-content: space-between;"
                        (ngSubmit)="onApplyFilter()">

                        <mat-form-field class="formField">
                            <mat-label>WAREHOUSE</mat-label>
                            <input matInput formControlName="warehouse" type="text" placeholder="WAREHOUSE" name="warehouse">
                        </mat-form-field>


                        <mat-form-field class="formField">
                            <mat-label>STATE</mat-label>
                            <input matInput formControlName="state" type="text" placeholder="STATE" name="state">
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>CITY</mat-label>
                            <input matInput formControlName="city" type="text" placeholder="CITY" name="city">
                        </mat-form-field>


                        <button mat-raised-button [disabled]="loading" color='primary' style="margin: 10px 0px;">
                            <!-- <mat-spinner *ngIf="loading" color="primary" [diameter]="20"
                                style=" float:left; margin-top: 8px; margin-right: 10px;"></mat-spinner> -->
                            FILTER
                        </button>

                    </form>

                </mat-card-content>
            </mat-card>
        </div>

        <button mat-raised-button [disabled]="loading" color='primary' style="margin: 10px 0px;" (click)="exporter.exportTable('csv',{fileName:'orderStatusReport'})">
            EXPORT CSV
        </button>
        <table mat-table class="mat-elevation-z8" matTableExporter [dataSource]="reports" #exporter="matTableExporter">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="warehouse">
                <th mat-header-cell *matHeaderCellDef> WAREHOUSE </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
            </ng-container>

            <ng-container matColumnDef="warehouse_id">
                <th mat-header-cell *matHeaderCellDef> WAREHOUSE ID </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouse_id}} </td>
            </ng-container>

            <ng-container matColumnDef="totalQuantity">
                <th mat-header-cell *matHeaderCellDef> TOTAL QUANTITY </th>
                <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="gmv">
                <th mat-header-cell *matHeaderCellDef> GVM </th>
                <td mat-cell *matCellDef="let element"> {{element.gmv}} </td>
            </ng-container>

            <ng-container matColumnDef="discount_amount">
                <th mat-header-cell *matHeaderCellDef> DISCOUNT AMOUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.discount_amount}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> STATE </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>

            <ng-container matColumnDef="state_id">
                <th mat-header-cell *matHeaderCellDef> STATE ID </th>
                <td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> CITY </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="city_id">
                <th mat-header-cell *matHeaderCellDef> CITY ID </th>
                <td mat-cell *matCellDef="let element"> {{element.city_id}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[10]">
        </mat-paginator> -->

    </div>


    <mat-spinner *ngIf="loading" color="primary" [diameter]="70"
        style="height: 100%; margin-left: 50%; margin-right: 50%; position: absolute; top: 40%; left: 0%;">
    </mat-spinner>

</div>
