<!-- *ngIf="outlet.isActivated == false" -->
<div  style="width: 100%; height: 100%; position: relative;">
    <div style="margin: 10px; width: auto;">

        <div style="display: flex; flex: 1; justify-content: center;">
            <mat-card style="width: 100%; height: auto;">

                <mat-card-title>FILTER</mat-card-title>

                <mat-card-content style="margin-top: 10px;">

                    <form [formGroup]="filterForm" style="display: flex; justify-content: space-between;" (ngSubmit)="onApplyFilter()">

                        <mat-form-field class="formField">
                            <mat-label>WAREHOUSE</mat-label>
                            <!-- <input matInput formControlName="warehouse" type="text" placeholder="WAREHOUSE" name="warehouse"> -->
                            <mat-select formControlName="warehouse">
                                <mat-option >NONE</mat-option>
                                <mat-option *ngFor="let wareHouse of wareHouses" [value]="wareHouse.warehouse_id" >{{wareHouse.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <mat-form-field >
                            <mat-label>WAREHOUSE ID</mat-label>
                            <input matInput formControlName="warehouse_id" type="text" placeholder="WAREHOUSE ID" name="warehouse_id">
                        </mat-form-field> -->

                        <mat-form-field class="formField">
                            <mat-label>START DATE</mat-label>
                            <input matInput [matDatepicker]="start_date_picker" formControlName="start_date" placeholder="START DATE">
                            <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #start_date_picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>END DATE</mat-label>
                            <input matInput [matDatepicker]="end_date_picker" formControlName="end_date" placeholder="END DATE">
                            <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #end_date_picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="formField">
                            <mat-label>TYPE</mat-label>
                            <!-- <input matInput formControlName="warehouse" type="text" placeholder="WAREHOUSE" name="warehouse"> -->
                            <mat-select formControlName="type">
                                <mat-option>NONE</mat-option>
                                <mat-option [value]='"opening_stock"' >{{"OPENING STOCK"}}</mat-option>
                                <mat-option [value]='"closing_stock"'>{{"CLOSING STOCK"}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button [disabled]="loading" color='primary' style="margin: 10px 0px;">
                            <!-- <mat-spinner *ngIf="loading" color="primary" [diameter]="20"
                                style=" float:left; margin-top: 8px; margin-right: 10px;"></mat-spinner> -->
                            FILTER
                        </button>

                    </form>

                </mat-card-content>
            </mat-card>
        </div>
       
        <table mat-table class="mat-elevation-z8" [dataSource]="transactions">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="warehouse">
                <th mat-header-cell *matHeaderCellDef> WAREHOUSE </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
            </ng-container>

            <ng-container matColumnDef="warehouse_id">
                <th mat-header-cell *matHeaderCellDef> WAREHOUSE ID </th>
                <td mat-cell *matCellDef="let element"> {{element.warehouse_id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="credit_amount">
                <th mat-header-cell *matHeaderCellDef> CREDIT AMOUNT  </th>
                <td mat-cell *matCellDef="let element"> {{element.credit_amount}} </td>
            </ng-container>

    
            <ng-container matColumnDef="debit_amount">
                <th mat-header-cell *matHeaderCellDef> DEBIT AMOUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.debit_amount}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> TYPE </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> ACTION </th>
                <td mat-cell *matCellDef="let element; index as i">
                    <button mat-raised-button color='primary' (click)="onClickAction(i)">
                        {{"VIEW SUMMERY"}}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[10]">
        </mat-paginator>

    </div>


    <mat-spinner *ngIf="loading" color="primary" [diameter]="70"
        style="height: 100%; margin-left: 50%; margin-right: 50%; position: absolute; top: 40%; left: 0%;">
    </mat-spinner>

</div>

<!-- <router-outlet #outlet="outlet"></router-outlet> -->
